.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea
.npm
node_modules/
test/
.eslintrc.json
.prettierrc
babel.config.js
jest.config.js
package-lock.json
tsconfig.*.json
webpack.*.js